@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
a {
    color:black;
    text-decoration: none;
}

.container {
    height: 90px;
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
}

header .logo, footer .logo {
    
    font-size: 29px;
    font-weight: 220;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 50px;
    transition: transform 0.3s ease;
}

.btn_template {
    border: solid black;
    border-radius: 15px;
    background-color: #1B1A1A;
    padding: 10px;
    color: white;
}

.btn_template:hover {
    transform: scale(1.1);
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: rgba(236, 231, 228, 1);
    position: relative;    
    height: 720px;      
}

.hero--info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%; /*width: 1200px; */
    height: 600px;
    margin: 0 auto;
    padding: 60px 150px;               
    height: 550px;
    overflow: hidden; 
}


.hero--info h2 {
    text-transform: uppercase;
    font-size: 14px; 
    letter-spacing: 2px;
    line-height: 20px;
    color: rgba(100, 92, 85, 1);
    font-weight: 400;
}

.hero--info h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
}

.hero--info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
   
}

.hero--info a {
    display: inline-block;
    padding: 12px 24px;
}


.forest_n_ceiling_photo {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    max-height: 100%
}  

/* 
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .hero-text {
        max-width: 100%;
    }

    .forest_n_ceiling_photo {
        max-width: 100%;
        margin-top: 20px;
    }

    .hero-text h1 {
        font-size: 36px;
        line-height: 42px;
    }
} */


.our_firm {
    padding: 100px 0;
}

.firm--info {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}

.our_firm h1 {
    font-weight: 400;
    font-size: 32px;
    margin: 0 auto;
}

.firm--text {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 0 auto;
}


.team-partner {
    display: flex;
    align-items: center;
    gap: 20px;              
    margin-top: 20px;
}

.team-partner img {
    width: 85px;           
    height: auto;
}

.name {
    margin: 0;
    font-size: 17px;
    line-height: 26px;

}

.role {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 14px;
    color:rgba(100, 92, 85, 1);
}

.reeding_house {
    height: 600px; /*will change */
    background-image: url(/img/reeding_bckgrnd.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reeding--info {
    padding-right: 80px;
    max-width: 300px;
    width: 100%;
}

.reeding--info h1 {
    color: rgba(100, 92, 85, 1);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.reeding--info p {
    color: rgba(100, 92, 85, 1);
    line-height: 24px;
}


.our_process {
    padding: 100px 0;
}

.container-process {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container-process h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    color:rgba(100, 92, 85, 1);
}

.container-process h1 {
    font-size: 39px;
    font-weight: 400;
    line-height: 42px;
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color:rgba(100, 92, 85, 1);
    max-width: 300px;
}

.process h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.process p {
    font-size: 15px;
    line-height: 24px;
}

.process img {
    width: 117px;
    height: auto;
}

.the_marbler_staircase {
    height: 600px;
    background-image: url(/img/marble_stair_bckgrnd.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.marbler_stairc--info {
    max-width: 280px;
    padding-right: 40px;
}

.marbler_stairc--info h1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:rgba(64, 62, 59, 1);
}

.marbler_stairc--info p {
    color:rgba(100, 92, 85, 1);
    line-height: 24px;   
}